.App {
  position: relative;
}

.player-small {
  position: absolute;
  bottom: 10vh;
  right: 0;
}

.player-big {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
}

.iframe-small {
  width: 320px;
  height: 195px;
}

.iframe-big {
  width: 100vw;
  height: 90vh;
}

.Main, .PlayerSection {
  background-color: antiquewhite;
  height: 90vh;
  font-size: 2rem;
}

.PlayerSection {
  display: grid;
  justify-items: center;
  align-items: center;
}

.Footer {
  background-color: beige;
  height: 10vh;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}